h1 {
    color: red;
    font-size: 70px;
}

p {
    background-color: black;
}

p {
    color: pink;
    font-family: Helvetica;
}

#id_for_ul {
  color: lightgreen;
}

#id_for_li {
    color: lightsalmon;
}
.classeg1 {
  color: purple;
}
.classeg2 {
  background-color: rgb(241, 69, 164);
}
/* !important tag */
h2 {
    color: yellowgreen !important;
}

#colour {
    color: plum;
}